{% extends "company/base2.html" %}
{% block content %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">POST JOB LIST</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'companyindex' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">job post list</li>
                        </ol>
                        <div class="card mb-4">
                           
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Psted Job List
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Job Id</th>
                                            <th>Job Name</th>
                                            <th>Position</th>
                                            <th>Email</th>
                                            <th>Company Website</th>
                                            <th>Location</th>
                                            <th>Salary</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Job Id</th>
                                            <th>Job Name</th>
                                            <th>Company Namee</th>
                                            <th>Email</th>
                                            <th>Company Website</th>
                                            <th>Location</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot>
                                    {% if alljob %}
                                    <tbody>
                                        {% for i in alljob %}
                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.jobname}}</td>
                                            <td>{{i.companyname}}</td>
                                            <td>{{i.email}}</td>
                                            <td>{{i.website}}</td>
                                            <td>{{i.address}}</td>
                                            <td>{{i.salary}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
               
{% endblock %}
