<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send OTP</title>
</head>
<body>
    <h2>Send OTP</h2>
    <form id="otpForm"  method="post" action="{% url 'send_otp' %}">
        {% csrf_token %}
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" >
        </div>
        <button type="submit">Send OTP</button>
    </form>

    
    
</body>
</html>
